<h3>Add a new stylist:</h3>
<form action="/stylist" method="post">
  <label for="new-stylist">Stylists Name:</label>
  <input id="new-stylist" name="new-stylist" type="text">
  <label for="new-details">Stylists Details:</label>
  <input id="new-details" name="new-details" type="text">
  <button type="submit">Submit</button>
</form>
<p><a href='/stylist'>View our list of stylists</a></p>
<p><a href="/">Return to main page</a></p>
