<ul>
@foreach (var Stylist in Model)
  {
  <li><p>Name: <a href="/stylist/@Stylist.GetId()/"> @Stylist.GetName()</a></p></li>
  <li><p>Details: @Stylist.GetDetail()</p></li>
  <br>
  }
</ul>
@if(Model != null)
{
  <p>Model is connecting to view</p>
}
<button type="submit">Submit</button>
<p><a href="/stylist/add">Add Stylist</a></p>
<p><a href="/">Return to main page</a></p>
