@using Salon.Models

<h3>Add a new Speciality:</h3>
<form action="/speciality" method="post">
  <label for="new-speciality">Speciality:</label>
  <input id="new-speciality" name="new-speciality" type="text">
  <button class="btn btn-danger" type="submit">Submit</button>
</form>
<p><a href='/speciality'>View our list of specialities</a></p>
<p><a href="/">Return to main page</a></p>
